<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <title>Carrinho</title>
      <link rel="stylesheet" href="/css/exit.css" />
   </head>
   <body>
      <div class="navigation">
         <ul>
            <li class="list">
               <a href="/">
                  <span class="icon">
                     <ion-icon name="home-outline"></ion-icon>
                  </span>
                  <span class="tittle">Home</span>
               </a>
            </li>
            <li class="list active">
               <a href="/entrancesandexits">
                  <span class="icon">
                     <ion-icon name="podium-outline"></ion-icon>
                  </span>
                  <span class="tittle">Relatórios</span>
               </a>
            </li>
            <li class="list">
               <a href="/userslist">
                  <span class="icon">
                     <ion-icon name="people-outline"></ion-icon>
                  </span>
                  <span class="tittle">Usuários</span>
               </a>
            </li>
            <li class="list">
               <a href="/productslist">
                  <span class="icon">
                     <ion-icon name="bag-outline"></ion-icon>
                  </span>
                  <span class="tittle">Produtos</span>
               </a>
            </li>
            <li class="list">
               <a href="/cart">
                  <span class="icon">
                     <ion-icon name="card-outline"></ion-icon>
                  </span>
                  <span class="tittle">Realizar Vendas</span>
               </a>
            </li>
            <li class="list">
               <a href="/api">
                  <span class="icon">
                     <ion-icon name="settings-outline"></ion-icon>
                  </span>
                  <span class="tittle">API</span>
               </a>
            </li>
            <li class="list-logout">
               <a href="/logout">
                  <span class="icon">
                     <ion-icon name="log-out-outline"></ion-icon>
                  </span>
                  <span class="tittle">Sair</span>
               </a>
            </li>
         </ul>
      </div>
      <div class="saidas-total">
         <strong class="sales">Saídas: <%= exits.length %> </strong>
         <br>
         <strong class="balance">Total: <%= total %></strong>
        </div>

      <!-- CONFIGURAÇÃO DO TITULO-->
      <div class="form">
         <div class="form-header">
            <!-- CADASTRAR NOVA DESPESA -->
        <form class="add" action="/createExit" method="post">

            <h2>Cadastrar nova despesa.</h2>
            <div class="input-box">
                <label><ion-icon name="pricetag-outline"></ion-icon> Descrição da despesa: </label>
                <input class="form-control" type="text" name="descriptionExit" id="descriptionExit" placeholder="Descrição..." required>
             </div>
             <div class="input-box">
                <label><ion-icon name="barcode-outline"></ion-icon> Valor: </label>
                <input class="form-control" type="text" name="value" id="value" placeholder="Valor..." required>
             </div>
             <div class="input-box">
                <label><ion-icon name="calendar-outline"></ion-icon> Data: </label>
                <input class="form-control" type="date" name="Data" id="Data" required>
             </div>
          </div>
          <button class="btn" id="open-modal" type="submit">Salvar</button>
       </form> 

        <h2>Listagem de Saídas</h2>

        <form class="search" action="/exitsdates" method="post">
         <p><ion-icon name="search-outline"></ion-icon> Filtro de pesquisa:</p>
            <div class="row">            
                <div class="col-md-4">
                  
                    <label for="startDate" class="form-label">Data Inicial</label>
                    <input id="startDate"
                     class="form-control" type="date" name="startDate" />
                </div>
                <div class="col-md-4">
                    <label for="finalDate" class="form-label">Data final</label>
                    <input id="finalDate" class="form-control" type="date" name="finalDate" />
                    </div>
                <div class="col-md-4">
                    <button class="btn btn-primary bnt-exit" type="submit">Pesquisar</button>
                    <% if (dateFilter !== false) { %>
                        <a href="/exits" class="btn btn-secondary">Limpar</a>
                    <% } %>
                </div>
            </div>
        </form>
        
        <table class="table table-striped table-hover">
            <tr>
                <th>Descrição da despesa</th>
                <th>Valor</th>
                <th>Data</th>
                <th>Ação</th>
            </tr>
            <% exits.forEach(function(exit) { %>
                <tr>
                    <td><%= exit.descriptionExit %></td>
                    <td><%= exit.formattedValue %></td>
                    <td><%= exit.formattedDate %></td>
                    <td>
                        <div class="action">
                            <a href="/exits/edit/<%=exit._id%>"><i class="bi bi-pencil-fill"></i></a>
                            <form action="/exits/delete/<%=exit._id%>?_method=DELETE" method="post" onSubmit="deleteExit(event)" >
                                <button class="trash_icon" type="submit"><ion-icon name="trash-outline"></ion-icon></button>
                            </form>
                        </div>
                    </td>
                </tr>
            <% }); %>
        </table>
    </div>
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        function deleteExit(e) {
            if(!window.confirm("Deseja realmente deletar essa despesa ?")) {
                e.returnValue = false; 
            }
        }
    </script>         
</body>
</html>