<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <title>Carrinho</title>
      <link rel="stylesheet" href="/css/sale.css" />
   </head>
   <body>
      <div class="navigation">
         <ul>
            <li class="list">
               <a href="/">
                  <span class="icon">
                     <ion-icon name="home-outline"></ion-icon>
                  </span>
                  <span class="tittle">Home</span>
               </a>
            </li>
            <li class="list active">
               <a href="/entrancesandexits">
                  <span class="icon">
                     <ion-icon name="podium-outline"></ion-icon>
                  </span>
                  <span class="tittle">Relatórios</span>
               </a>
            </li>
            <li class="list">
               <a href="/userslist">
                  <span class="icon">
                     <ion-icon name="people-outline"></ion-icon>
                  </span>
                  <span class="tittle">Usuários</span>
               </a>
            </li>
            <li class="list">
               <a href="/productslist">
                  <span class="icon">
                     <ion-icon name="bag-outline"></ion-icon>
                  </span>
                  <span class="tittle">Produtos</span>
               </a>
            </li>
            <li class="list">
               <a href="/cart">
                  <span class="icon">
                     <ion-icon name="card-outline"></ion-icon>
                  </span>
                  <span class="tittle">Realizar Vendas</span>
               </a>
            </li>
            <li class="list">
               <a href="/api">
                  <span class="icon">
                     <ion-icon name="settings-outline"></ion-icon>
                  </span>
                  <span class="tittle">API</span>
               </a>
            </li>
            <li class="list-logout">
               <a href="/logout">
                  <span class="icon">
                     <ion-icon name="log-out-outline"></ion-icon>
                  </span>
                  <span class="tittle">Sair</span>
               </a>
            </li>
         </ul>
      </div>
      <!-- CONFIGURAÇÃO DO TITULO-->
      <div class="form">
        <form action="/products" method="post" onSubmit="registerProduct()">
           <div class="form-header">
              <div class="tittle_product">
                 <h1>Relatório de vendas.</h1>
              </div>
            </div>
            <div class="saidas-total">
            <strong class="sales">Vendas: <%= sales.length %> </strong>
            <br>
            <strong class="balance">Total: <%= total %></strong>
            </div>
            <br>

        <form class="search" action="/salesdates" method="post">
            <p><ion-icon name="search-outline"></ion-icon> Filtro de pesquisa:</p>
            <div class="row">            
                <div class="col-md-4">
                    <label for="startDate" class="form-label">Data Inicial</label>
                    <input id="startDate" value="<%= startDate %>" class="form-control" type="date" name="startDate" />
                </div>
                <div class="col-md-4">
                    <label for="finalDate" class="form-label">Data final</label>
                    <input id="finalDate" value="<%= finalDate %>" class="form-control" type="date" name="finalDate" />
                    </div>
                <div class="col-md-4">
                    <button class="btn btn-primary bnt-exit" type="submit">Pesquisar</button>
                    <% if (dateFilter != false) { %>
                        <a href="/sales" class="btn btn-secondary">Limpar</a>
                    <% } %>
                </div>
            </div>
        </form>

        <div class="row box-sale-row">
            <% for (let i = 0; i < sales.length; i++) {
                let sale = sales[i];
                if (sale != null) { %>
                    <div class="box-sale col-md-3">
                        <div class="header"> 
                            <div class="">
                                <strong class="data"><%= sale.formattedDate %></strong>
                            </div>
                        
                            <div class="total">
                                <strong>Total: <%= sale.sale.formattedTotal %></strong>
                            </div>
                        </div>

                        <div class="box-descount">
                            <strong>Desconto: <%= sale.sale.descount %> %</strong>
                        </div>

                        <div class="row box-button">
                            <form  action="/sales/delete/<%= sale._id %>?_method=DELETE" method="POST" onSubmit="deleteSale(event)">
                                <button class="btn btn-danger button-delete">Deletar</button>
                            </form>
                        </div>
                        
                        <% for (let j = 0; j < sale.sale.products.length; j++) {
                            let product = sale.sale.products[j]; %>
                            <% if (product) { %>
                                <div class="data-product">
                                    <strong><%= product.product.name %></strong>
                                    <strong>QTD: <%= product.quantity %></strong>
                                    <strong>Valor: <%= product.formattedPrice %></strong>
                                </div>  
                            <% } %>
                        <% } %>
                        
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        function deleteSale(e) {
            if(!window.confirm("Deseja realmente deletar essa venda ?")) {
                e.returnValue = false; 
            }
        }
    </script>
   </body>
</html>
